html
{
	background-image:url('games/graphics/stand alone.jpg');
	background-size: 100% 1000px ;
	background-repeat:no-repeat;
}

.gmo_table td
{
	border: 1px;
	padding: 0.21cm;
	color:ffffff;
	width=213;
}

input[type="button"]
{
	background:rgba(0,0,0,0.5);

	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #525252
}

#menu_background
{
	position:fixed;
	top:0;
	height:100%;
	display:none;
	position:fixed;
	margin-left:1%;
	background:rgba(0,0,0,0.5);
}

#menu
{
	position:relative;
	top:28%;
}

.header
{
	top:13%;
	font-size:40px;
	font-weight:lighter;
	margin-left:15%;
	position:fixed;
}

#szczegoly
{
	position:fixed;
	font-size:33px;
	font-weight:lighter;
	top:28%;
	margin-left:25%;
}

#menu-button
{
	position:fixed;
	margin-left:22%;
	top:50%;
}

.inside-menu-button
{
	width:90%;
	align:center;
}

#dalsze
{
	position:fixed;
	top:50%;
	margin-left:60%;
	font-family: "HelveticaNeue", "Helvetica";
	font-size:small;
}

#comments
{
	background:rgba(225,225,225,0.5);
	position:fixed;
	top:22%;
	margin-left: 20%;
}

#results
{
	background:rgba(225,225,225,0.5);
	position:fixed;
	top:22%;
	margin-left:45%;
}

.text_output
{
	position:float;
	display:none;
	margin-bottom:16%;
}

.game_button
{
	position:fixed;
	top:53%;
	margin-left:20%;
	width:15%;
}

#atoms_board_background
{
	background:rgba(0,0,0,0.5);
	position:relative;
	margin-left:50%;
	width:40%;
}

#atoms_results
{
	position:fixed;
	margin-left:50%;
	top:55%;
	background:rgba(0,0,0,0.5);
	color:ddffdd;
	font-size:45px;
}

.about
{
	background:rgba(0,0,0,0.5);
	color:ffffff;
	display:none;
	position: fixed;
	top: 20%;
	margin-left:20%;
	font-size:28px;
}

.open_about
{
	position:fixed;
	top:60%;
	left:20%;
	width:15%;
}

.gmo_button
{
	top:80%;
	left:30%;
}
.gmo_button2
{
	left:10%;
	top:80%;
}
.gmo
{
	position:fixed;
	color:ffffff;
	background:rgba(0,0,0,0.5);
	top:5%;
	left:12%;
}
